APP_ENV=development
APP_DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=linguabridge
POSTGRES_PASSWORD=linguabridge
POSTGRES_DB=linguabridge

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=linguabridge-media

MAX_BOT_TOKEN=your_max_bot_token
MAX_WEBHOOK_SECRET=your_max_secret
VK_BOT_TOKEN=your_vk_bot_token
VK_CONFIRMATION_TOKEN=your_vk_confirmation
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
